.classpath
.settings
.project
.DS_Store
.externalToolBuilders
build
jars
.*.swp
nbproject
.idea
*.iml
*.ipr
*.iws
*.local.properties
*-dist.zip
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Ignore folders used to build binaries for old Java
/pgjdbc-jre6
/pgjdbc-jre7

# Ignore msgmerge residue
pgjdbc/src/main/java/org/postgresql/translation/*.po.~*~
pgjdbc/src/main/resources/org/postgresql/translation/messages*$1.class
pgjdbc/src/main/resources/org/postgresql/translation/messages.properties
pgjdbc/src/main/resources/org/postgresql/translation/messages_en.properties
