language: java

before_script:
  - psql -U postgres -c "create user test with password 'test';"
  - psql -c 'create database test owner test;' -U postgres

script: ant test

matrix:
  include:
    - jdk: openjdk7
      addons:
        postgresql: "9.1"
    - jdk: openjdk6
      addons:
        postgresql: "9.1"
    - jdk: oraclejdk7
      addons:
        postgresql: "9.1"
    - jdk: oraclejdk8
      addons:
        postgresql: "9.1"
    - jdk: openjdk7
      addons:
        postgresql: "9.2"
    - jdk: openjdk6
      addons:
        postgresql: "9.2"
    - jdk: oraclejdk7
      addons:
        postgresql: "9.2"
    - jdk: oraclejdk8
      addons:
        postgresql: "9.3"
    - jdk: openjdk7
      addons:
        postgresql: "9.3"
    - jdk: openjdk6
      addons:
        postgresql: "9.3"
    - jdk: oraclejdk7
      addons:
        postgresql: "9.3"
    - jdk: oraclejdk8
      addons:
        postgresql: "9.3"
