# appveyor.yml
init: 
- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
- ps: Add-Content "c:\program files\postgresql\9.6\data\postgresql.conf" "wal_level=logical"
- ps: Add-Content "c:\program files\postgresql\9.6\data\postgresql.conf" "max_wal_senders=3"
- ps: Add-Content "c:\program files\postgresql\9.6\data\postgresql.conf" "wal_keep_segments=10"
- ps: Add-Content "c:\program files\postgresql\9.6\data\postgresql.conf" "wal_sender_timeout=5s"
- ps: Add-Content "c:\program files\postgresql\9.6\data\postgresql.conf" "max_replication_slots=10"
- ps: Add-Content "c:\program files\postgresql\9.6\data\pg_hba.conf" "host    replication     all             127.0.0.1/32            trust"

branches:
  except:
    - /^tmp\/.*/
    - /^REL.*/

services:
  - postgresql96

before_build:
  - SET PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH% 
  - SET PGUSER=postgres 
  - SET PGPASSWORD=Password12! 
  - createuser -U postgres test
  - psql -U postgres -c "alter user test with password 'test'" postgres 
  - createdb -U postgres -O test test

build_script:
  - mvn clean package -DskipTests

test_script:
  - echo redirect escape ^> foo.bar
  - echo privilegedPassword=Password12!>c:\projects\pgjdbc\build.local.properties
  - mvn package

cache:
  - C:\Users\appveyor\.m2
