.side__nav {
    background-color: var(--clr-neutral-200);

    padding-right: 0.5rem;

    ul,li {
        list-style: none;

        &:hover,
        &:focus {
          color: var(--clr-primary-400);
        };
      };
};