.admonition {

    border: 0px solid;
    border-left-width: 5px;
    border-radius: 6px;
    padding: 0.7em;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.1);

    &__heading {
        display: inline-flex;
        font-size: var(--fs-300);
        margin-block: 0px 8px;
    }

    &__icon {
        margin-right: 0.4em;
    }

    &__inner {
        font-size: var(--fs-300);
        font-weight: 600;
    }


    &--note {
        border-color: var(--clr-neutral-300);
    }

    &--info {
        border-color: var(--clr-primary-300);
    }
}