.card {
    display: flex;
    gap: 0 2em;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1em 0;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 1.5em;
        border-top: 5px navy solid;
    }
}