.cta {
    border-radius: 100vmax;
    padding: 0.5rem 1rem;
    border-style: none;

    &--dark {
        background-color: var(--clr-blue-400);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        a {
            color: var(--clr-white-400);
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &--light {
        color: var(--clr-blue-400);
        background-color: var(--clr-white-400);
        border-color: var(--clr-blue-400);
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &::after {
            display: inline-block;
            padding-left: 8px;
            content: "\203A";
            transition: transform 0.3s ease-out;
        }

        &:hover {
            font-weight: 600;
            border-width: 2px;
            color: var(--clr-blue-400);

            &::after {
                transform: translateX(4px);
            }
        }
    }

    &--orange {
        background-color: var(--clr-orange-300);

        a {
            color: var(--clr-white-400);
        }
    }
}