.pagination {
    display: flex;
    width: 100%;
    text-transform: uppercase;

    &__left {
        width: 50%;

        & a::before {
            content: '\00AB';
            font-size: 25px;
        }
    }

    &__right {
        text-align: right;
        width: 50%;

        & a::after {
            content: '\00BB';
            font-size: 25px;
        }
    }
}