table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th,
  td {
    padding: 12px 15px;
  }

}

thead tr {
  background-color: var(--clr-blue-400);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #dddddd;

  &:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  &:last-of-type {
    border-bottom: 2px solid var(--clr-blue-400);
  }

  &:hover {
    color: var(--clr-blue-400);
  }
}