.doc {
   @include flexbox;
}

.article {
   padding: 0.5rem;
   max-width: 80ch;
   margin-right: auto;
   margin-left: auto;
   width: 60%;

   p,
   li,
   ul {
      max-width: 100%
   }
}

.toc {
   width: 20%;
}