.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto 2rem;
    min-width: 50%;
    padding: 0 25%;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyrights {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: center;
        margin-top: 2.4rem;
        max-width: 680px;
        text-align: center;
    }
}