.footer {
    margin-top: auto;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    background-color: var(--clr-primary-400);
    padding: 1rem;

    &__items {
        @include flexbox;
        @include flex-direction(row);
        gap: 0rem 2rem;
        &__links {
            ul,li {
            color: var(--clr-neutral-100);
            list-style: none;

            a {
                color: var(--clr-neutral-100);
                text-decoration: none;

                &:hover,
                &:focus {
                  color: var(--clr-neutral-200);
                };
              };

            };
        };

    };

    .copyright {
        color: var(--clr-neutral-100);
    };
};