.navbar {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);

  padding: 1rem;

  background-color: var(--clr-blue-400);

  .logo, .github {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__items {
    @include flexbox;
    @include flex-direction(row);
    gap: 1rem 1rem;

    &__link {
      color: var(--clr-white-300);
      text-decoration: none;
      font-size: var(--fs-400);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &:hover,
      &:focus {
        color: var(--clr-white-400);
      }
    }
  }
}