.navbar {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-white-400);
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
  border-color: var(--clr-blue-300);

  .logo {
    width: 45px;
    aspect-ratio: 1;
  }

  &__item {
    display: flex;

    gap: 1rem 1rem;

    &--active {
      font-weight: 900;
    }

    &__link {
      color: var(--clr-blue-300);
      text-decoration: none;
      font-size: var(--fs-400);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--clr-blue-300);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &:hover,
      &:focus {
        color: var(--clr-blue-400);
      }
    }
  }
}