.sidebar {
  background-color: var(--clr-white-400);
  width: 20%;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #ccc;
  padding-right: 4rem;
  margin-block: 2rem;


  align-self: start;
  position: sticky;
  top: 5rem;

  &--active {
    font-weight: 900;
  }

  a {
    color: var(--clr-blue-400);
  }
}