.sidebar {
  background-color: var(--clr-white-400);
  width: 20%;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #ccc;
  padding-right: 4rem;

  ul,
  li {

    &:hover,
    &:focus {
      color: var(--clr-blue-400);
    }
  }
}