$colors: (
  primary: ( // blue
    300: hsl(207, 48%, 50%),
    400: hsl(207, 48%, 40%),
    500: hsl(207, 48%, 30%),
  ),
  secondary: ( // purple
    300: hsl(277, 50%, 60%),
    400: hsl(277, 50%, 40%),
    500: hsl(277, 50%, 20%),
  ),
  accent: ( // red
    300: hsl(358, 72%, 70%),
    400: hsl(358, 72%, 53%),
    500: hsl(358, 72%, 30%),
  ),

  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 70%),
    500: hsl(0, 0%, 60%),
    600: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%),
  )
);