defaultMarkdownHandler = "goldmark"

[goldmark]
[goldmark.extensions]
definitionList = true
footnote = true
linkify = true
strikethrough = true
table = true
taskList = true
typographer = true
[goldmark.parser]
autoHeadingID = true
autoHeadingIDType = "github"
[goldmark.renderer]
hardWraps = false
unsafe = true
xhtml = false

[highlight]
anchorLineNos = false
codeFences = true
guessSyntax = false
hl_Lines = ""
lineAnchors = ""
lineNoStart = 1
lineNos = false
lineNumbersInTable = true
noClasses = false
style = "github"
tabWidth = 4

pygmentsCodeFences = true

[tableOfContents]
endLevel = 3
ordered = false
startLevel = 2
