body {
    display: flex;
    flex-direction: column;
}

html {
    scroll-padding-top: 100px;
}

.chroma .lntable pre {
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .lntable pre code {
    padding: 0;
    margin: 0;
}

pre,
.pre {
    overflow-x: auto;
    overflow-y: hidden;
    overflow: scroll;
}

code {
    padding: 0.2em;
    margin: 0;
    background-color: hsl(0, 0%, 97%);
    border-radius: 3px;
}

pre code {
    display: block;
    padding: 1.5em 1.5em;
    line-height: 2;
    overflow-x: auto;
}

pre {
    background-color: #fff;
    color: #333;
    white-space: pre;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
}

.search-list {
    margin-bottom: 1rem;
}

.list-title {
    padding: 0 1.5rem;
    max-width: 62.5rem;
    margin-inline: auto;
    margin-block: 2rem;
}