html {
    scroll-padding-top: 100px;
}

%chroma-style {
    padding: 0;
    margin: 0;
}

.chroma .lntable pre code {
    @extend %chroma-style;
}

.chroma .lntable pre {
    @extend %chroma-style;
    border: 0;
}

code {
    padding: 0.2em;
    margin: 0;
    background-color: var(--clr-neutral-100);
    border-radius: 3px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 80%;
    word-break: break-word;
}

pre code {
    display: block;
    padding: 1em;
    line-height: 2;
    overflow-x: auto;
}

pre {
    // background-color: var(--clr-white);
    // color: var(--clr-neutral-500);
    white-space: pre;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    border-radius: 3px;
}

.main-inner {
    margin-block: var(--container-spacing);
}