/* barlow-latin-100 */
@include font-face('Barlow', 'barlow-latin-100', 100, normal);

/* barlow-latin-100 */
@include font-face('Barlow', 'barlow-latin-100italic', 100, italic);

/* barlow-latin-200 */
@include font-face('Barlow', 'barlow-latin-200', 200, normal);

/* barlow-latin-200 */
@include font-face('Barlow', 'barlow-latin-200italic', 200, italic);

/* barlow-latin-300 */
@include font-face('Barlow', 'barlow-latin-300', 300, normal);

/* barlow-latin-300 */
@include font-face('Barlow', 'barlow-latin-300italic', 300, italic);

/* barlow-latin-400 */
@include font-face('Barlow', 'barlow-latin-400', 400, normal);

/* barlow-latin-400 */
@include font-face('Barlow', 'barlow-latin-400italic', 400, italic);

/* barlow-latin-500 */
@include font-face('Barlow', 'barlow-latin-500', 500, normal);

/* barlow-latin-500 */
@include font-face('Barlow', 'barlow-latin-500italic', 500, italic);

/* barlow-latin-600 */
@include font-face('Barlow', 'barlow-latin-600', 600, normal);

/* barlow-latin-600 */
@include font-face('Barlow', 'barlow-latin-600italic', 600, italic);

/* barlow-latin-700 */
@include font-face('Barlow', 'barlow-latin-700', 700, normal);

/* barlow-latin-700 */
@include font-face('Barlow', 'barlow-latin-700italic', 700, italic);

/* barlow-latin-800 */
@include font-face('Barlow', 'barlow-latin-800', 800, normal);

/* barlow-latin-800 */
@include font-face('Barlow', 'barlow-latin-800italic', 800, italic);

/* barlow-latin-900 */
@include font-face('Barlow', 'barlow-latin-900', 900, normal);

/* barlow-latin-900 */
@include font-face('Barlow', 'barlow-latin-900italic', 900, italic);