:root {
  // @include mq(medium) {
  //   --section-spacing: 7rem;
  // }

  @each $color,
  $shade in $colors {

    @each $prop,
    $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }

  @each $prop,
  $value in $color {
    --clr-#{$prop}: #{$value};
  }

  @each $screen-size,
  $property in $type-scale {
    @if $screen-size ==small {

      @each $prop,
      $value in $property {
        --fs-#{$prop}: #{$value};
      }
    }

    @else {
      @include mq-min(small) {

        @each $prop,
        $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }
}