body {
  font-size: 1.067rem;
  font-family: 'Inria Sans', sans-serif;
  color: var(--clr-black-300);
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5 {
  font-stretch: 100%;
  line-height: 1.3;
  color: var(--clr-black-300);
}

h1 {
  color: var(--clr-blue-400);
}

h1,
.h1 {
  font-size: var(--fs-600);
}

h2,
.h2 {
  // --flow-spacer: 1.5em;
  font-size: var(--fs-500);
}

h3,
.h3 {
  // --flow-spacer: 1.5em;
  font-size: var(--fs-400);
}

h4,
.h4 {
  font-size: var(--fs-300);
}

h5,
.h5 {
  font-size: var(--fs-200);
}

small,
.text-small {
  font-size: var(--fs-100);
}

strong {
  font-weight: 500;
}

a {
  color: var(--clr-blue-400);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--clr-blue-500);
  }
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}