$color: (
  white: hsl(0, 0%, 100%),
  black: hsl(0, 0%, 0%),
  indigo: hsl(222, 35%, 25%),
  bluishGray: hsl(204, 100%, 98%)
);

$colors: (
  primary: (
    100: hsl(216, 70%, 78%),
    200: hsl(216, 70%, 64%),
    300: hsl(216, 70%, 53%),
    400: hsl(216, 70%, 45%),
    500: hsl(216, 70%, 37%)
  ),

  secondary: (
    100: hsl(14, 100%, 87%),
    200: hsl(14, 100%, 78%),
    300: hsl(14, 100%, 70%),
    400: hsl(14, 100%, 63%),
    500: hsl(14, 100%, 57%)
  ),

  neutral: (
    100: hsl(0, 0%, 96%),
    200: hsl(0, 0%, 93%),
    300: hsl(0, 0%, 88%),
    400: hsl(0, 0%, 74%),
    500: hsl(0, 0%, 52%)
  ),
);