$colors: (
  // blue
  blue: (
    100: hsl(206, 100%, 50%),
    200: hsl(206, 100%, 45%),
    300: hsl(206, 100%, 40%),
    400: hsl(206, 100%, 35%),
    500: hsl(206, 100%, 30%)
  ),

  // white
  white: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 1%, 100%),
    300: hsl(0, 2%, 100%),
    400: hsl(0, 3%, 100%),
    500: hsl(0, 4%, 100%)
  ),

  // orange
  orange: (
    100: hsl(13, 84%, 73%),
    200: hsl(13, 84%, 63%),
    300: hsl(13, 84%, 53%),
    400: hsl(13, 84%, 43%),
    500: hsl(13, 84%, 33%)
  ),

  // gray
  gray: (
    100: hsl(0, 0%, 66%),
    200: hsl(0, 0%, 56%),
    300: hsl(0, 0%, 46%),
    400: hsl(0, 0%, 36%),
    500: hsl(0, 0%, 26%)
  ),

  // black
  black: (
    100: hsl(0, 0%, 4%),
    200: hsl(0, 0%, 3%),
    300: hsl(0, 0%, 2%),
    400: hsl(0, 0%, 1%),
    500: hsl(0, 0%, 0%)
  ),

  // red
  red: (
    100: hsl(0, 100%, 68%),
    200: hsl(0, 100%, 58%),
    300: hsl(0, 100%, 48%),
    400: hsl(0, 100%, 38%),
    500: hsl(0, 100%, 28%)
  )
);