:root {
  --container-width: 62.5rem;

  --section-spacing: 3.5rem;
  --container-spacing: 2.5rem;
  --box-spacing: 2rem;
  --primary-spacing: 1rem;
}

$user: '\01F464';
$link: "\01F517";

$single-left-arrow: '\203A';
$double-left-arrow: '\00AB';
$double-right-arrow: '\00BB';