@mixin mq($key) {

  $size: map-get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

// font-face mixin

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    font-style: $style;
    font-weight: $weight;
    src: local(''),
      /* Modern Browsers */
      url("../fonts/" +$path+".woff") format("woff");
  }
}