$type-scale: (
  small:(
    100: 0.25rem,
    200: 0.55rem,
    300: 0.85rem,
    400: 1rem,
    500: 1.15rem,
    600: 1.65rem,
    700: 1.75rem,
    800: 2rem,
    900: 2.5rem
    ),

  big:(
    100: 0.55rem,
    200: 0.85rem,
    300: 1rem,
    400: 1.15rem,
    500: 1.45rem,
    600: 1.75rem,
    700: 2rem,
    800: 2.5rem,
    900: 3rem
    )
)