/* PostgreSQL Documentation Style - Large Text Version */

@import url("docs.css");

body {
	font-size: 93%;
}

#pgTopNav,
#pgTopNavLeft,
#pgTopNavRight {
	height: 57px;
}

#pgTopNavList {
	line-height: 1.8em;
}
