.download {
    margin-block: var(--container-spacing);

    p {
        max-width: 100%;
    }

    .past-versions > li {
        padding-left: 0.25em;
    }

    .past-versions__date {
        margin-left: 0.5em;
        color: var(--clr-neutral-600);
        font-size: 0.875em;
    }
}